{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container is-flex is-align-content-center is-justify-content-center">
		<form method="post" class="box">
			<h1 class="is-size-1 my-3">Please sign in</h1>
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<div class="field">
				<div class="label">
					<label for="inputEmail">Email</label>
				</div>
				<div class="control"><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" autocomplete="email" required autofocus></div>
			</div>

			<div class="field">
				<div class="label">
					<label for="inputPassword">Password</label>
				</div>
				<div class="control"><input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password" required></div>
			</div>


			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
																																																																																														        TODO
																																																																																																								        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																																								        See https://symfony.com/doc/current/security/remember_me.html
																																																																																																								
																																																																																																								        <div class="checkbox mb-3">
																																																																																																								            <label>
																																																																																																								                <input type="checkbox" name="_remember_me"> Remember me
																																																																																																								            </label>
																																																																																																								        </div>
																																																																																																								    #}

			<button class="button is-link my-2" type="submit">
				Sign in
			</button>
		</form>
	</div>
{% endblock %}
