{% extends "base.html.twig" %}


{% block title %}
	Registrace
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="is-size-1 has-text-centered mt-2">Registrace</h1>
		<div class="box">
			{{ form_start(registerForm) }}
			<div class="field">
				<div class="control">
					{{ form_row(registerForm.email) }}
				</div>
			</div>
			<div class="field">
				<div class="control">
					{{ form_row(registerForm.firstName) }}
				</div>
			</div>
			<div class="field">
				<div class="control">
					{{ form_row(registerForm.lastName) }}
				</div>
			</div>
			<div class="field">
				<div class="control">
					{{ form_row(registerForm.repeat.first) }}
				</div>
			</div>
			<div class="field">
				<div class="control">
					{{ form_row(registerForm.repeat.second) }}
				</div>
			</div>
			<div class="field">
				<div class="control">
					{{ form_row(registerForm.submit) }}
				</div>
			</div>

			{{ form_end(registerForm) }}
		</div>
	</div>
{% endblock %}
